<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      globalThreshold="Trace"
      internalLogLevel="Off" internalLogFile="">

  <!-- Keeping `globalThreshold` at `Trace` because no log events below `globalThreshold` will be logged, regardless of any rules. -->

  <variable name="enableMasking" value="true"/>

  <targets>
    <target name="file"
            xsi:type="File"
            layout="[${longdate:universalTime=true}] [${level:uppercase=true}] [${logger:shortName=true}] : ${message}"
            fileName="C:\DeveloperCenter\CyberSource\C#\cybersource-rest-samples-csharp\logs\run.log"
            keepFileOpen="false"
            archiveAboveSize="5242880"
            archiveNumbering="Date"
            archiveDateFormat="yyyymmddhhmmss"/>
    <target name="logConsole" xsi:type="Console"
            layout="[${longdate:universalTime=true}] [${level:uppercase=true}] [${logger:shortName=true}] : ${message}" />
  </targets>
  <rules>
    <logger name="Cybersource_rest_samples_dotnet.Samples.*" minlevel="Trace" writeTo="file" />
    <logger name="Cybersource_rest_samples_dotnet.Samples.*" minlevel="Trace" writeTo="logconsole" />
    <!--<logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="logconsole" />-->
  </rules>
</nlog>