<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="appName" value="SampleCodeNetCore" />

  <targets>
    <target name="file"
            xsi:type="File"
            layout="${longdate} ${message}"
            fileName="${basedir}\logs\cybs.log"
            keepFileOpen="false"
            archiveAboveSize="5242880"
            archiveNumbering="Date"
            archiveDateFormat="yyyymmddhhmmss"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>