<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="MerchantConfig" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  
  <MerchantConfig>
    <!--HTTP_SIGNATURE and JWT-->
    <add key="authenticationType" value ="HTTP_SIGNATURE"/>
    <add key="merchantID" value="testrest"/>
    <add key="runEnvironment" value="apitest.cybersource.com"/>
    <add key="timeout" value="100000"/><!--In Millisec-->
    <!--Log Related-->
    <add key="enableLog" value="true"/>
    <add key="logFileMaxSize" value="835435"/><!--In bytes-->
    <!--<add key="logDirectory" value="C:\Sankalp\"/>-->
    <!--<add key="logFileName" value="cybs.log"/>-->
    <!--Proxy Settings-->
    <!--<add key="proxyAddress" value="userproxy.visa.com"/>
      <add key="proxyPort" value="443"/>-->
    <!--JWT Parameters-->
    <add key="keyAlias" value="testrest"/>
    <add key="keyPass" value="testrest"/>
    <!--P12 File Parameters-->
    <add key="keysDirectory" value ="..\\..\\Resource"/>
    <add key="keyFilename" value ="testrest" />
    <!--HTTP_Signature Parameters-->
    <add key="merchantsecretKey" value="yBJxy6LjM2TmcPGu+GaJrHtkke25fPpUX+UY6/L/1tE="/>
    <add key="merchantKeyId" value="08c94330-f618-42a3-b09d-e1e43be5efda"/>
  </MerchantConfig>
  
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>