<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="MerchantConfig" type="System.Configuration.NameValueFileSectionHandler" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>

  </configSections>

  <MerchantConfig>
    <!--HTTP_SIGNATURE and JWT-->
    <add key="authenticationType" value="HTTP_SIGNATURE" />
    <add key="merchantID" value="testrest" />
    <add key="runEnvironment" value="apitest.cybersource.com" />
    <add key="timeout" value="100000" /><!--In Millisec-->
    <!--Log Related-->
    <add key="enableLog" value="true" />
    <add key="logFileMaxSize" value="835435" />
    <!--In bytes-->
    <!--<add key="logDirectory" value=""/>-->
    <!--<add key="logFileName" value="cybs.log"/>-->
    <!--Proxy Settings-->
    <!--<add key="proxyAddress" value="userproxy.visa.com"/>
      <add key="proxyPort" value="443"/>-->
    <!--JWT Parameters-->
    <add key="keyAlias" value="testrest" />
    <add key="keyPass" value="testrest" />
    <!--P12 File Parameters-->
    <add key="keysDirectory" value="Resource" />
    <add key="keyFilename" value="testrest" />
    <!--HTTP_Signature Parameters-->
    <add key="merchantsecretKey" value="yBJxy6LjM2TmcPGu+GaJrHtkke25fPpUX+UY6/L/1tE=" />
    <add key="merchantKeyId" value="08c94330-f618-42a3-b09d-e1e43be5efda" />
  </MerchantConfig>


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

    <variable name="myvar" value="myvalue" />


    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>

      <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

      <target name="file"
              xsi:type="File"
              layout="${longdate} ${message}"
              fileName="${basedir}/logs/cybs.log"
              keepFileOpen="false"
              archiveAboveSize="5242880"
              archiveNumbering="Date"
              archiveDateFormat="yyyymmddhhmmss"
              encoding="iso-8859-2"/>

      <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    </targets>

    <rules>
      <!-- add your logging rules here -->

      <logger name="*" minlevel="Trace" writeTo="file" />
      <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    </rules>
  </nlog>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.5.4.0" newVersion="106.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>