<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CyberSource.Authentication" version="0.0.0.5" targetFramework="net461" />
  <package id="CyberSource.Rest.Client" version="0.0.1.1" targetFramework="net461" />
  <package id="jose-jwt" version="2.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net461" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
</packages>
