<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MerchantConfig" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>

  <MerchantConfig>
    <!--Environment Based Configurations-->
    <add key="merchantID" value="testrest" />
    <add key="runEnvironment" value="apitest.cybersource.com" />
    <add key="timeout" value="100000" />
    
    <!--Log related Configurations-->
    <add key="enableLog" value="true" />
    <add key="logFileMaxSize" value="835435" />
    
    <!--Authentication Type-->
    <add key="authenticationType" value="HTTP_SIGNATURE" />
    
    <!--JWT Authentication Requirements-->
    <add key="keyAlias" value="testrest" />
    <add key="keyPass" value="testrest" />
    <add key="keysDirectory" value="Resource" />
    <add key="keyFilename" value="testrest" />
    
    <!--HTTP Signature Authentication Requirements-->
    <add key="merchantsecretKey" value="yBJxy6LjM2TmcPGu+GaJrHtkke25fPpUX+UY6/L/1tE=" />
    <add key="merchantKeyId" value="08c94330-f618-42a3-b09d-e1e43be5efda" />
  </MerchantConfig>
</configuration>